<h1>Edit My Account</h1>

<% form_for @admin, :url => admins_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :object => f %>
  <%= f.submit 'Update' %>
<% end %>

<br /><%= link_to 'My Profile', admins_path %>

