<ul class="record_summary">
  <li id="record_action" class="grid_3">
    <%= link_to 'Create New Administrator', new_admin_path %>
  </li>
  <li class="grid_3 push_6">
    <% content_tag :div do %>
      <%= Admin.all.count %>
      <em>Total administrating</em>
    <% end %>
  </li>
</ul>
<div class="grid_12">
  <%= render :partial => 'records' %>
</div>