<h1>Register New Administrator</h1>

<% form_for @admin, :url => account_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Add New Administrator" %>
<% end %>

