/*
.container_12 {
  background: transparent url(../../images/960gs/12_col.gif) repeat-y;
}
*/
body {
  cursor: default;
}
html, body, #wrapper { height: 100%; }
body > #wrapper { height: auto; min-height: 100%; }


a {
  text-decoration: none;
}
a:link { color: #6D9BF1; }
a:focus {
  outline: none;
}
div {/*outline: 1px solid green;*/
  overflow: hidden;
}

body, #header, #footer {
  background: #333;
  color: white;
}
#header {
  position: absolute;
  top: 0;
  z-index: 10;
  height: 6em;
  width: 100%;
}
#header > div {
  padding: 1em 0;
  position: relative;
}
#header > div * {/*outline: 1px solid yellow*/
}
#login_panel {
  display: block;
  position: absolute;
  right: 1em;
  top: 2.5em;
  text-align: right;
}
#login_panel a {
  color: yellow;
  font-weight: bold;
}
#login_panel a:hover {
  text-decoration: underline;
}
a#to_dashboard {
  padding-right: 1em;
  background: url(../images/home.png) no-repeat right 2px;
}

#wrapper {
  background: white;
  color: #333;
}
  #wrapper > div {
    height: 100%;
    padding: 7em 0 8em;
  }

#footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 7em;
  margin-top: -7em;
}
  #footer > div {
    padding: 1em 0;
  }
  #credits {
    text-align: right;
  }

th, td {
  padding: 5px;
}
.row_number {
  text-align: right;
  width: 1.5em;
  color: #999;
  font-size: 0.9em;
}
.record_list table,
.tally_list table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.record_list table .alt,
.tally_list table .alt {
  background-color: #f6f6f6;
}
.record_list table th,
.tally_list table th {
  text-align: left;
}
.record_summary {
  margin-bottom: 1em;
  overflow: hidden;
}
.record_summary li {
  font-size: 2em;
  font-weight: bold;
  text-align: right;
  line-height: 1em;
  margin-top: 10px;
}
.record_summary li#record_action {
  font-size: 2em;
  text-align: left;
}
.record_summary li > * {
  background-color: #fcfcfc;
  display: block;
  padding: 10px;
  color: #666;
  border-radius: 5px;
  border: 1px solid #eee;
  border-bottom: 1px solid #ccc;
  height: 2em;
}
.record_summary li#record_action a {
  background-color: #9f9;
  text-shadow: 0 1px 0 #fff;
  color: #333;
  border: 1px solid #ddd;
  border-bottom: 2px solid #999;
}
.record_summary li#record_action a:hover {
  background-color: #ff9;
}
.record_summary li em {
  font-size: 0.5em;
  font-style: normal;
  display: block;
  margin: 0;
}
.record_view p {
  font-weight: bold;
  font-size: 1.5em;
}
.record_view p em {
  display: block;
  font-style: normal;
  font-size: 0.75em;
  font-weight: normal;
}
.record_controls a {
  font-weight: bold;
  margin-right: 1em;
  text-transform: uppercase;
}
.pagination {
  text-align: center;
  margin-top: 1em;
  display: block;
  padding: 5px;
  text-transform: lowercase;
  position: relative;
}
  .pagination .current {
    font-weight: bold;
  }
  .pagination .disabled {
    color: #999;
  }
  .pagination > * {
    padding: 3px 9px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 0 3px;
  }
  .pagination a:hover {
    background-color: #f0f0f0;
  }
  .pagination .spinner {
    position: absolute;
    right: 0;
  }

form label {
  display: block;
  font-weight: normal;
}
  form label.nonrequired {
    color: #999;
    font-style: italic;
  }
form input,
form select,
form textarea {
  font: bold 1.5em Helvetica, Arial, sans-serif;
}
form fieldset {
  padding: 3px;
  border-top: 1px solid #eee;
  margin-bottom: 1em;
}

#admin_session_remember_me + label { display: inline }
#new_admin_session > div {
  margin: 1em 0;
}

#wrapper p {
  padding: 5px;
  margin: 0 auto;
  width: 930px;
  display: block;
}
#election_status {
  font-size: 2em;
  margin-bottom: 1em;
  text-align: center;
}
#election_status input[type='button'] {
  font-size: 1em;
  font: inherit;
}
.admin_panel {
  font-size: 2em;
}
.admin_panel > * {
  display: block;
  border: 1px solid #eee;
  border-bottom: 1px solid #ccc;
  padding: 0.5em;
  line-height: 1em;
  height: 2em;
  font-weight: bold;
  color: #333;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 1em;
}
.admin_panel > .disabled {
  color: #ccc;
  background-color: #f3f3f3;
}
.admin_panel a:hover {
  color: #333;
  background-color: #ff9;
  text-shadow: 0 1px 0 #fff;
  border-bottom: 2px solid #999;
}

.position_list {
  display: block;
  clear: right;
  width: 100%;
}
.position_list li  {
  list-style: none;
  float: left;
  margin: 0;
  margin-right: 0.5em;
  margin-bottom: 1em;
}
.position_list li a {
  padding: 3px 9px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 0 3px;
}
fieldset.tally_filter_group {
  clear: left;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
  width: 95%;
  padding: 5px;
  border: 1px solid #eee;
  border-bottom: 1px solid #aaa;
  border-radius: 5px;
  line-height: 2em;
}
  .tally_filter_group span {
    display: block;
  }
  .tally_filter_group label {
    display: block;
    float: left;
    width: 30%;
  }
  .tally_filter_group select {
    font-size: 1.25em;
    font-weight: bold;
    float: left;
    width: 70%;
  }
.tally_list {
  margin-bottom: 1em;
}
  .tally_list h3 span {
    font-size: 0.75em;
    float: right;
    margin-bottom: -0.5em;
    color: #999;
  }

.tally_bar {
  background-color: #c33;
  border-top: 1px solid #933;
  border-bottom: 1px solid #fcc;
  height: 3px;
  text-align: right;
  margin-bottom: 0.5em;
}
  .tally_bar em.tally_count {
    color: #999;
    font-weight: bold;
    font-style: normal;
    font-size: 0.75em;
    position: absolute;
    margin-top: 0.25em;
  }

.address_code {
  border-bottom: 1px dotted #333;
  cursor: help;
}
.address_code:hover {
  border-bottom: 1px dotted #eee;
}

#errorExplanation * { margin: 0 }
#errorExplanation {
  padding: 5px;
  font-weight: bold;
  font-size: 0.9em;
  color: red;
  margin: 0;
}
#errorExplanation ul {
  font-weight: normal;
  font-size: 0.9em;
  list-style-position: inside;
  margin-left: 1em;
}
.fieldWithErrors {
  font-weight: bold;
  color: red;
  display: inline;
}
