/*
.container_12 {
	background: transparent url(../../images/960gs/12_col.gif) repeat-y;
}
*/
body {
  cursor: default;
}
a { text-decoration: none; }
a:focus {
  outline: none;
}
div {/*outline: 1px solid green;*/
  overflow: hidden;
}

body, #header, #footer {
  background: #333;
  color: white;
}
#header > div {
  padding: 10px 0;
  position: relative;
}
#header > div * {/*outline: 1px solid yellow*/
}
#login_panel {
  display: block;
  position: absolute;
  right: 1em;
  top: 2.5em;
  text-align: right;
}
#login_panel a {
  color: yellow;
  font-weight: bold;
}
#login_panel a:hover {
  text-decoration: underline;
}
a#to_dashboard {
  padding-right: 1em;
  background: url(../images/home.png) no-repeat right 2px;
}

#wrapper {
  background: white;
  color: #333;
  min-height: 600px;
  padding: 1em 0;
}
#wrapper > div {
  min-height: inherit;
}

#footer {
  padding: 1em 0;
}
  #credits {
    text-align: right;
  }

th, td {
  padding: 5px;
}
.record_list {
  border-collapse: collapse;
  border-spacing: 0;
}
.record_summary li {
  background-color: red;
}

#wrapper p {
  padding: 5px;
  margin: 0 auto;
  width: 930px;
  display: block;
}
#election_status {
  font-size: 2em;
  margin-bottom: 1em;
  text-align: center;
}
#election_status button {
  font-size: 1em;
  font: inherit;
}
.admin_panel {
  font-size: 2em;
}
.admin_panel > * {
  display: block;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #fcfcfc;
  padding: 0.5em;
  line-height: 1em;
  height: 2em;
  font-weight: bold;
  color: #333;
  background-color: #fff;
}
.admin_panel > .disabled {
  color: #ccc;
  background-color: #f3f3f3;
}
.admin_panel a:hover {
  color: #333;
  background-color: #ff9;
  text-shadow: 0 1px 0 #fff;
}

.address_code {
  border-bottom: 1px dotted #333;
  cursor: help;
}
.address_code:hover {
  border-bottom: 1px dotted #eee;
}

#errorExplanation * { margin: 0 }
#errorExplanation {
  padding: 5px;
  font-weight: bold;
  font-size: 0.9em;
  color: red;
  margin: 0;
}
#errorExplanation ul {
  font-weight: normal;
  font-size: 0.9em;
  list-style-position: inside;
  margin-left: 1em;
}
.fieldWithErrors {
  font-weight: bold;
  color: red;
  display: inline;
}
