<h1>Edit Voter Details</h1>
<% form_for([:admin, @user]) do |f| %>   
  <%= f.error_messages %>      
  <%= render :partial => "form", :locals => {:form => f} %> 
  <p>
    <%= f.submit 'Save Changes' %> 
  </p>                         
<% end %>
