<h2>
  Elections are currently closed.
</h2>
<%= link_to 'Browse the list of candidates.', candidates_path, :class => 'action_wide' %>
<%= link_to 'Learn how to vote.', 'http://www.youtube.com/watch#!v=orr2M-wv594', :class => 'action_wide' %>
<!--
<object width="480" height="385"><param name="movie" value="http://www.youtube.com/v/orr2M-wv594&hl=en_US&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/orr2M-wv594&hl=en_US&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed></object>
-->

