<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
  </head>
  <body>
    <h1>Welcome to Exist Elections <%=h @date %>, <%=h @user.full_name %></h1>
    <p>
      You have been successfully registered to vote for the <%=h @date %> Elections.<br/>
      Please visit the site on election day to vote.
    </p>
    <p>Thank you for registering and have a great day!</p>
  </body>
</html>
