<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Exist Elections <%=h @date %>, <%=h @user.full_name %></h1>
    <p>
      Please click <%= link_to "here", :controller => 'users', :action => 'ballot', :code => @ballot_key %> to start voting.
    </p>
  </body>
</html>

