<div class="record_filter">
  <%= select :candidate, :filter_position, (['All'] + Candidate.positions), {},
      { :onchange => remote_function(
          :url    => { :action => 'index', :controller => 'candidates' },
          :method => :get ) } %>
  <%= select :candidate, :filter_province, (['All'] + PROVINCE_LIST.sort), {},
      { :onchange => remote_function(
          :url    => { :action => 'index', :controller => 'candidates' },
          :method => :get ) } %>
  City/Municipality
  District
</div>