<h1>Register New Voter</h1>

<% form_for(@user, :url => admin_users_path) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :locals => {:form => f} %>
  <%= f.submit 'Register' %>
<% end %>

<%= link_to 'Back to Index', admin_users_path %>